In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('/content/marketing_campaign.csv')

In [5]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0

In [6]:
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [7]:
df['Total_Conversions']=df[['AcceptedCmp3','AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2']].sum(axis=1)

In [13]:
df['Total_Conversions']

0       0
1       0
2       0
3       0
4       0
       ..
2235    0
2236    1
2237    1
2238    0
2239    0
Name: Total_Conversions, Length: 2240, dtype: int64

In [14]:
df['Conversion_Rate']=df['Total_Conversions']/(df['AcceptedCmp3']+df['AcceptedCmp4']+df['AcceptedCmp5']+df['AcceptedCmp1']+df['AcceptedCmp2'])

In [15]:
df['Conversion_Rate']=df['Conversion_Rate'].fillna(0)

In [26]:
df['CPA']=df['Z_CostContact']/df['Total_Conversions']
df['CPA']=np.where(np.isinf(df['CPA']) | df['CPA'].isna(),0,df['CPA'])
df['CPA']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
2235    0.0
2236    3.0
2237    3.0
2238    0.0
2239    0.0
Name: CPA, Length: 2240, dtype: float64

In [30]:
df['ROI']=(df['Z_Revenue']-df['Z_CostContact'])/df['Z_CostContact']*100
df['ROI']=np.where(np.isinf(df['ROI']) | df['ROI'].isna(),0,df['ROI'])
df['ROI']

0       266.666667
1       266.666667
2       266.666667
3       266.666667
4       266.666667
           ...
2235    266.666667
2236    266.666667
2237    266.666667
2238    266.666667
2239    266.666667
Name: ROI, Length: 2240, dtype: float64

In [31]:
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response',
       'Total_Conversions', 'Conversion_Rate', 'CPA', 'ROI', 'Total_Leads',
       'Max_Leads_Source', 'Total_Purchases', 'Total_Spent'],
      dtype='object')

In [36]:
df['Total_Leads']=df[['NumWebPurchases','NumCatalogPurchases','NumStorePurchases']].sum(axis=1)

In [37]:
df['Max_Leads_Source']=df[['NumWebPurchases','NumCatalogPurchases','NumStorePurchases']].idxmax(axis=1)

In [38]:
output_df = df[['ID','Year_Birth','Income','Kidhome','Teenhome','Dt_Customer','Recency',
'Total_Conversions','Conversion_Rate','CPA','ROI','Total_Leads',
'Max_Leads_Source','Z_CostContact','Z_Revenue','NumWebPurchases',
'NumCatalogPurchases','NumStorePurchases']]

output_df.to_csv('campaign_performance_for_powerbi321.csv', index=False)
print("CSV created: 'campaign_performance_for_powerbi321.csv'")

CSV created: 'campaign_performance_for_powerbi321.csv'

In [39]:
df['Total_Purchases'] = df[['NumWebPurchases', 'NumCatalogPurchases',
                        'NumStorePurchases']].sum(axis=1)

df['Total_Spent'] = df[['MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds']].sum(axis=1)

df.to_csv('updated_campaign_data_with_purchases_and_spent.csv', index=False)

print("CSV updated: 'updated_campaign_data_with_purchases_and_spent.csv' with Total_Purchases & Total_Spent")

CSV updated: 'updated_campaign_data_with_purchases_and_spent.csv' with Total_Purchases & Total_Spent

In [40]:
df.to_csv('updated_last.csv', index=False)
print("Final cleaned file saved as: 'updated_last.csv'")

Final cleaned file saved as: 'updated_last.csv'

In [41]:
print(df[['ID', 'Total_Purchases', 'Total_Spent']].head(10))

     ID  Total_Purchases  Total_Spent
0  5524               22         1617
1  2174                4           27
2  4141               20          776
3  6182                6           53
4  5324               14          422
5  7446               20          716
6   965               17          590
7  6177                8          169
8  4855                5           46
9  5899                1           49